@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ribeye:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


$primary-font: 'Roboto';
$primary-font-size: 75px;
$secondary-font-size: 20px;
$button-font-size: 18px;
$logo-font-size: 24px;
$section-title-size: 57px;
$card-text-size: 18px;

$button-primary-color: #000000;
$button-secondary-color: #f7b2b7;
$text-primary-color: #FFFFFF;
$text-secondary-color: #000000;
$link-text-color: #335C81;
$footer-text-color: #C5E9EA;
$background-color: #FFFFFF;
$footer-background-color: #302E3F;
$plans-section-background-color: #FDECED;
$switch-section-background-color: #8BD4D6;
